* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}
.container {
    background-image: url();
    background-size: repeat;
    max-width: 100%;
    max-height: 100%;
  
 }



.game {
    text-align: center;

}

h1 {
    padding-bottom: 2%;
    color: cadetblue;
    font-weight: bold;
    font-size: 45px;
}

p {
    padding-bottom: 1%;
}

.bold {
    font-weight: bold;
}

li {
    padding-bottom: 1%;
}

.my-2 {
    padding-bottom: 1%;

}

.card {
    margin: 0 auto;
    float: none; 
    margin-bottom: 10px; 
}


#messageBox {
    padding-top: 2%;
}

h2 {
    padding-bottom: 2%;
}

.letter {
    display: inline-block;
    list-style: none;
    width: 20px;
    margin: 0 5px;
    border-bottom: 1px solid black;
    text-align: center;
    color: white;
}

.current-word {
    list-style: none;
}

.output {
    opacity: 0;
    transition: opacity 1s ease;
}

.correct {
    background-color: black;
    transition: all 1s ease;
}

.error {
    color: red;
    opacity: 1;
}

.warning {
    color: orange;
    opacity: 1;
}

.win {
    color: aqua;
    opacity: 1;
}

.buttons {
    margin-bottom: 2%;
}

